# Copy this file into a new file called ".envrc" in the root of the project.
# Access values like this: ENV["RAILS_SECRET_KEY_BASE"]
#
# The purpose of this file is to keep secrets out of source control.
# For more information, see: direnv.net

# The environment variables below can be uncommented to enable HTTP basic
# authentication
# HTTP_BASIC_AUTH_USERNAME=example
# HTTP_BASIC_AUTH_PASSWORD=example

SECRET_KEY_BASE=863d3c3930d487976d6d4fb36ac26f65c5e98bb1e5373dc511587e92bb22d3ad4ebc1df12049f4a8a66dc4e455cfcce7a1d75e7b4c5e66121323ef590f61afab
PORT=3000
